@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    background: linear-gradient(45deg, #2179ac, pink);
    border-radius: 30px;
    box-shadow: 12px 12px 27px;
    width: inherit;
    /* height: 37rem; */
    height: inherit;
}
img{
    width: 120%;
    height: 37.5rem;
    border-top-right-radius: 209px;
    border-bottom-left-radius: 429px;
}
.login h1{
    font-size: 4rem;
    font-weight: 300;
    margin-left: 30px;
}
.inp{
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 50px;
    box-shadow: -26px 19px 19px rgba(0,0,0,0.5);
}
.butn{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-color: cyan;
}
.butn:hover{
    background: linear-gradient(45deg, pink, #7f00ff);
}
.login p{
    font-size: 25px;
    color: #fff;
}
.login span{
    padding: 10px;
}
.login span i{
    font-size: 20px;
}
.login span i:hover{
    color: whitesmoke;
}